<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">


    <!-- 指定要循环的 Java 集合名称。这里对应 Mapper 接口中传进来的参数名 dishIds
     变量别名。在循环体内部，我们用 #{dishId} 来代表当前遍历到的那一个 ID 值。
     separator="," close=")" open="(") 循环前加左括号 结束加右括号-->
    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
        <foreach collection="dishIds" item="dishId" separator="," close=")" open="(">
            #{dishId}
        </foreach>

    </select>
<!--此处for each 可以一次插入多条数据 但只要一次插入操作-->
    <insert id="insertBatch">
        insert into setmeal_dish
        (name, setmeal_id, dish_id, price, copies)
        values
        <foreach collection="setmealDishes" item="sd" separator=",">
            (#{sd.name}, #{sd.setmealId}, #{sd.dishId}, #{sd.price}, #{sd.copies})
        </foreach>
    </insert>

<!-- 用delete in来删除   -->
    <delete id="deleteBySetmealIds">
        delete from setmeal_dish
        where setmeal_id in
        <foreach collection="setmealIds" item="setmealId" separator="," open="(" close=")">
            #{setmealId}
        </foreach>
    </delete>



</mapper>
